#game-board {
    border-radius: 100px;
    display: grid;
    grid-template-columns: repeat(20, 20px);
    grid-template-rows: repeat(20, 20px);
    margin: 5px;
}

.game-border-1 {
    border: #595f43 solid 10px;
    border-radius: 30px;
    box-shadow: inset 0 0 0 10px #595f43;
}

.game-border-2 {
    border: #abb78a solid 8px;
    border-radius: 26px;
    box-shadow: inset 0 0 0 10px #abb78a;
}

.game-border-3 {
    border: #8b966c solid 30px;
    border-radius: 20px;
    box-shadow: inset 0 0 0 5px #8b966c;
}

#levelUpMessage {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: #abb78a;
}

#instruction-text {
    color: #333;
    width: 300px;
    text-align: center;
    text-transform: capitalize;
}

.scores {
    display: flex;
    width: 500px;
    justify-content: space-between;
}

#scoreSection, #highScoreSection {
    display: flex;
    align-items: center;
    font-size: 40px;
    font-weight: bolder;
    color: #abb78a;
}

#score {
    color: #abb78a;
    justify-content: space-between;
    margin: 10px 0;
}

#score, #highscore {
    font-size: 40px;
    font-weight: bolder;
    margin: 10px 0;
    margin-left: 5px;
}

#highscore {
    color: #d8ddca;
}

.game-border-3, #logo {
    background-color: #c4cfa3;
}

.snake {
    border: #5a5a5a 1px dotted;
    background-color: #414141;
}

.food {
    background-color: #dedede;
    border: #999 5px solid;
}

#logo {
    margin-bottom: 5rem;
    width: 200px;
    height: 200px;
}

.modal {
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #e0e7ca;
    padding: 20px;
    text-align: center;
    border: 5px solid #8b966c;
    border-radius: 20px;
}

#pauseModal {
    width: 300px;
    height: 150px;
}

#gameOverModal {
    width: 300px;
    height: 200px;
}

.modal-content h2 {
    font-size: 30px;
    color: #abb78a;
}

.modal-content p {
    font-size: 20px;
    color: #666;
}

button {
    background-color: #8b966c;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-family: "VT323", monospace;
}

button:hover {
    background-color: #abb78a;
}

.mode-button {
    top: 52%;
    display: flex;
    align-items: center;
    position: absolute;
}

#strict-mode-btn {
    margin-right: 1rem;
}

#reset-high-score {
    top: 57%;
    margin-left: 7.5rem;
    display: flex;
    align-items: center;
    position: absolute;
    margin-right: 1rem;
}